@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Regular";
  src: local("AfacadFlux-Regular"),
    url("./assets/fonts/AfacadFlux-Regular.ttf") format("truetype");
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #D2C3A3;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}